@import "./universal.scss";

.connect {
    display: flex;
    flex-direction: column;
    height: 90vh;


    @include mobile {
       margin-top: 50px;
    }

        .connect-heading {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 10px;

            @include mobile {
                left: 0%;
                justify-content: center;
                align-items: center;
                margin-top: 40px;
                margin-bottom: 25px;
            }

            h1{
                font-family: 'Chango';
                color:  rgba(52, 221, 0, 0.87);
                font-size: 4vh;

                @include mobile {
                    font-size: 2rem;
                    text-align: center;
                }
                
            }
        }

        .connect-content{
            display: flex;
            width: 100%;
            margin: 20px;


            .left-connect{
                flex: .7;
                overflow: hidden;
                display: flex;
                flex-direction: row;

                // align-items: left; move image over to left currently not working
    
                img {
                    border-radius: 15px;
                    margin: 150px 100px 100px 200px;
                    height: 65%;
                    box-shadow: 0 4px 2px -2px gray;
                }
            
                @include mobile {
                    display: none;
                    flex: 0;
                }
            }



            .right-connect{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                flex: .3;
                margin-right: 5%;
     

                @include mobile {
                    flex: 1;
                    margin-top: 30px;
                    margin-right: 0;
                }
    
                .connect-me-button{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 275px;
                    height: 75px;
                    background-color: rgb(43, 43, 255);
                    border: 3px solid rgb(255, 170, 12);
                    margin: 20px;
                    text-decoration: none;
                    color: white;
                    font-size: 24px;
                    font-family: 'Andika New Basic', sans-serif;
                    border-radius: 10px;
                    overflow: hidden;
    
                    &:hover{
                        background-color: white ;
                        color: rgb(255, 170, 12);
                        transition: transform .75s ease-out;
                        cursor: pointer;
                    }
                    
                    
                }
            }
        }

        // .arrow-image-connect {
        //     display: flex;
        //     justify-content: center;
        //     align-content: center;
        //     bottom: 75px;
    
        //     @include mobile {
        //         justify-content: center;
        //         align-items: center;
        //     }
    
                      
        //     .arrow-image-connect {
        //         left: 50%;
        //         animation: textBlink 4s infinite; 

        //         @include mobile {
        //             left: 32.5%;
        //         }
        
        //         @keyframes textBlink {
        //             100%{
        //             opacity: 0;
        //             }
        //         }
        //     }
        // }        
}
