@import "./universal.scss";

.menu {
    width: 300px;
    height: 100vh;
    background-color: rgb(43, 43, 255);
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    text-decoration: none;

    &.active{
        right: 0;
    }

    @include mobile {
        width: 175px;
        height: 100vh;
        right: -175px;
        top: 0;
        
        &.active{
            display: flex;
            z-index: 2;
            right: 0;
        }
    
    }

    ul{
        margin: 0;
        margin-top: 150px;
        padding: 0;
        list-style: none;
        font-size: 2.75vh;
        color: white;
        width: 60%;
        overflow: hidden;


        
    li{
        margin-bottom: 30px;
        
        a{
            font-family: 'Gayathri';
            color: inherit;
            text-decoration: none;
        }

        &:hover{
            color: rgb(255, 170, 12);
        }
    }
    
        @include mobile {
           font-size: 1.75vh;
           margin-top: 125px;
        }
    }

    
    .copyright {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 75px 0 0 0;
        padding: 0;
        width: 60%;
        margin-bottom: 30px;
        overflow: hidden;


        @include mobile {
            margin-top: 100px;
        }
 
        p{
            color: rgb(255, 170, 12);
            font-family: 'Andika New Basic', sans-serif;
            font-size: 1.75vh;
            
            @include mobile {
                font-size: 1.05vh;
            }
        }

        a {
            color: rgb(255, 170, 12);
            text-decoration: none;
            font-weight: 900;
        }

        .under-constuction {
            color: rgba(52, 221, 0, 0.87);
            font-weight: 400;
        }
    }
}