// Nav Bar Styling - START
.nav-bar {
    width: 100%;
    height: 90px;
    position: fixed; 
    top: 0;
    z-index: 3;
    transition: all 1s ease;
    overflow: hidden;

    .inner-nav-bar{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-inner-nav-bar {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            .logo{
                font-size: 60px;
                font-family: 'Gayathri';
                text-decoration: none;
                color: rgb(255, 170, 12);
                margin-right: 40px;
            }
        
            h2 {
                font-size: 40px;
                font-family: 'Gayathri';
                color: rgb(255, 170, 12);
            } 
        }


// Hamburger Menu Styling - START
        .right-inner-nav-bar {

            .hamburger {
                width: 40px;
                height: 35px;
                margin-right: 20px;
                margin-bottom: 55px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                overflow: hidden;
            }

            span {
               width: 40px;
               height: 4px;
               background-color: rgba(52, 221, 0, 0.87); 
               transform-origin: left;
               transition: all 5s ease;
            }
        }
    }
    
    &.active{
        background-color: rgb(43, 43, 255);

        .hamburger{
            span{
                &:first-child{
                    background-color: white;
                    transform: rotate(90deg);
                }

                &:nth-child(2){
                    background-color: rgb(255, 170, 12);
                    transform: rotate(1080deg);
                }

                &:last-child{
                    background-color: white;
                    transform: rotate(-90deg);
                }
            }

        }

    }

}
// Hamburger Menu Styling - END