@import "./universal.scss";

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;

    @include mobile {
        width: 100%;
    }

    .portfolio-title{
        overflow: hidden;

        h1 {
            font-family: 'Chango';
            color:  rgba(52, 221, 0, 0.87);
            font-size: 4vh;
            padding: 20px;
            overflow: hidden;
    
            @include mobile {
                font-size: 2.5rem;
                margin-top: 50px;
                padding-bottom: 30px;
                overflow: hidden;
            }
        }
    }

    .portfolio-buttons{
        overflow: hidden;
        display: flex;
        
        @include mobile{
            width: 100%;
            justify-content: center;
            align-items: center;
 
        }

            ul{
            font-family: 'Gayathri';
            font-size: 20px;
            margin: 10px;
            list-style: none;
            display: flex;
            overflow: hidden;
            justify-content: center;
            align-items: center;
    
            
            @include mobile {
                width: 100%;
                margin: 0;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 10px;
            }
    }


        // Component: PortfolioList - START
        .portfolio-list{
            display: flex;
            font-size: 25px;
            margin: 25px;
            padding: 15px 20px 15px 20px;
            border-radius: 5px;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            @include mobile {
                width: 50px;
                font-size: 15px;
                padding: 20px;
                text-align: center;
            }


            &.active{
                background-color: rgb(43, 43, 255);
                color: white;
                transition: all .5 ease;
                display: flex;

                @include mobile {
                    height: 20px;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 15px;
                    padding: 20px;
                }

                &:hover{
                    color:  rgba(52, 221, 0, 0.87);
                }
            }

            &:hover{
                color: rgb(255, 170, 12);
            }
        }
    }
    

    .portfolio-container {
        width: 70%;
        display: flex;
        // align-items: center;
        // justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;

        
        @include mobile {
            width: 100%;
            flex-direction: column;
        }

    
        .portfolio-image-container{
            flex: 0.4;
            overflow: hidden;
            display: flex;
            // align-items: center;
            // justify-content: center;
  

            .portfolio-banner {
                width: 300px;
                height: 250px;          
                font-family: 'Andika New Basic', sans-serif;
                color: white;
                position: relative;
                cursor: pointer;
                border-radius: 10px;
                border: 2px solid rgb(211, 206, 206);
                box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
                margin-bottom: 25%;

                @include mobile {
                    width: 130px;
                    height: 100px;
                }
        
        
                a {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    object-fit: cover;
                    z-index: 3;
                    display: flex;

                    p {
                        z-index: 3;
                        opacity: 0;
                        position: absolute;
                        font-family: 'Andika New Basic', sans-serif;
                        width: 100%;
                        height: 75%;                       
                        object-fit: cover;
                        font-size: 2rem;
                        align-items: center;
                        justify-content: center;
                    }

                    img {
                        width: 100%;
                        height: auto;                       
                        object-fit: cover;
                        z-index: 1;

                        @include mobile {
                            position: absolute;
                            z-index: 1;
                        }            
                    }

                    &:hover{
                        background-color: rgb(120, 120, 255);
                        transition: all 1s ease-in-out;
                        display: flex;
    
                        a {
                            z-index: 2;
                            opacity: 1;                         
                        }  

                        p {
                            position: absolute;
                            display: flex;
                            opacity: 1;
                            z-index: auto;
                            color:  white;
                            font-weight: 900;   
                        }
                        
                        img{
                            opacity: 0.2;
                            z-index: 1;
                            position: relative;
                        }   
                    }
                }

            }
    
        }
    }
            .portfolio-item-button {
                overflow: hidden;
                justify-content: center;
                padding: 20px;

                @include mobile {
                    overflow: hidden;
                    padding: 40px;
                }     


                img {
                    width: 100px;
                    height: 100px;
                    margin: 10px;

                    @include mobile {
                        margin: 5px;
                    }     

                    &:hover {
                        background-color:  rgba(52, 221, 0, 0.87);
                        border-radius: 50%;
                    }
                }
            }

    .portfolio-details-container {
        flex: 0.6;
        overflow: hidden;
        padding: 5px;
        margin-bottom: 80px;
        // padding-bottom: 50px;
        display: flex;
    
        .portfolio-item-details{
            h3 {
                margin: 3px;
                font-family: 'Andika New Basic', sans-serif;
                text-align: center; 
                color: rgb(255, 170, 12);
            }
            
            p {
                margin: 2px;
                font-family: 'Andika New Basic', sans-serif;
                text-align: center;
            }

        }

    }

    .arrow-image-portfolio {
        height: 10vh;
        animation: textBlink 4s infinite; 
        justify-content: center;
        overflow: hidden;

        @include mobile {
            margin: 5px;
            padding: 30px;
        }     


        @keyframes textBlink {
            100%{
            opacity: 0;
            }
        }
    }
}