// Main App Styling - START
.app {
       height: 100vh;

    .areas {
        width: 100%;
        height: calc(100vh - 90px);
        position: relative;
        top: 90px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;  // only applicable to Firefox web browser
        &::-webkit-scrollbar {
            display: none;
        } // for all other browswers

        > * {
            width: 100vw;
            height: calc(100vh - 90px);           
            scroll-snap-align: start; 
            
        }
    }
}
// Main App Styling - END

// Nav Bar Styling - START
.nav-bar {
    width: 100%;
    height: 90px;
    position: fixed; 
    top: 0;
    z-index: 3;
    transition: all 1s ease;
    overflow: hidden;

    .inner-nav-bar{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-inner-nav-bar {
            display: flex;
            align-items: center;

            .logo{
                font-size: 60px;
                font-family: 'Gayathri';
                text-decoration: none;
                color: rgb(255, 170, 12);
                margin-right: 40px;
            }
        
            h2 {
                font-size: 40px;
                font-family: 'Gayathri';
                color: blue;
            } 
        }


// Hamburger Menu Styling - START
        .right-inner-nav-bar {

            .hamburger {
                width: 35px;
                height: 35px;
                margin-bottom: 55px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                overflow: hidden;
            }

            span {
               width: 100px;
               height: 4px;
               background-color: darkblue; 
               transform-origin: left;
               transition: all 5s ease;
            }
        }
    }
    
    &.active{
        background-color: darkblue;

        .hamburger{
            span{
                &:first-child{
                    background-color: white;
                    transform: rotate(90deg);
                }

                &:nth-child(2){
                    background-color: rgb(255, 170, 12);
                    transform: rotate(1080deg);
                }

                &:last-child{
                    background-color: white;
                    transform: rotate(-90deg);
                }
            }

        }

    }

}
// Hamburger Menu Styling - END
// Nav Bar Styling - END

// Menu Styling - START
.menu {
    width: 300px;
    height: 100vh;
    background-color: darkblue;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    text-decoration: none;

    &.active{
        right: 0;

    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 25px;
        color: white;
        width: 60%;
    }

    li{
        margin-bottom: 30px;
        
        a{
            font-family: 'Chango', cursive;
            color: inherit;
            text-decoration: none;
        }

        &:hover{
            color: rgb(255, 170, 12);
        }
    }
}
// Menu Styling - END

.intro{
    background-color: white;    
    display: flex;

    .left-intro {
        flex: 0.5;
        overflow: hidden;

        .image-container{
            padding: 2rem;
            width: 700px;
            height: 700px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: left;

            img {
                height: 100%;            
                border-radius: 50%;
            }
        }
    }

    .right-intro {
        flex: 0.5;
        position: relative;

        // .intro-text{
        //     width: 100%;
        //     height: 100%;
        //     padding-left: 50px;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: center;
        // }

        h1 {
            font-size: 60px;
            margin: 10px 0;
        }

        h2 {
            font-size: 35px;
        }

        h3 {
            font-size: 30px;

            span{
                font-size: inherit;
                color: lawngreen;
            }
        }

        a {
            position: absolute;
            bottom: 20px;
            left: 20%;
            font-weight: 400;
            animation: textBlink 4s infinite; 
            text-decoration: none;

            @keyframes textBlink {
                100%{
                opacity: 0;
                }
            }
        }
    }
}


.portfolio {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 50px;
    }

    ul{
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;

        // Component: PortfolioList - START
        .portfolio-list{
            font-size: 14px;
            margin-right: 50px;
            padding: 7px;
            border-radius: 10px;
            cursor: pointer;

            &.active{
                background-color: darkblue;
                color: white;
            }
        }
        // Component: PortfolioList - END
    }
    

    .portfolio-container {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    
        .portfolio-item {
            width: 300px;
            height: 220px;
            border-bottom: 20px;
            border: 5px solid black;
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            position: relative;
            transition: all .5 ease;
            cursor: pointer;
            border-radius: 10px;
    
            h3{
                position: absolute;
                font-size: 20px;
            }
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }

            &:hover{
                background-color: darkblue;

                img{
                    opacity: 0.2;
                    z-index: 0;
                }

            }
        }
    }
    
}

.techstack {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 50px;
        overflow: hidden;
    }

    p {
      padding: 30px;
      overflow: hidden;
    }

    .techstack-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
    }

    .techstackitems {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 30px;
    }
    
    a {
        overflow: hidden;
    }

    img{
        width: 120px;
        padding: 50px;

        &:hover{
           transform: scale(1.25);
           transition: transform .5s ease-out;
           // check out to alter image to ease back in nicely rather than snap back
           cursor: pointer;        
        }
        
    }
}


.contact {
    background-color: lightpink;
    display: flex;

    .left-contact{
        flex: 1;
        overflow: hidden;
        // align-items: left; move image over to left currently not working

        img {
            height: 100%;
        }
    }
    
    .right-contact{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 30px;
        }
        
        .contact-me-button{
            display: flex;
            align-items: center;
            width: 175px;
            border: white; 
            background-color: purple;
            border: 5px solid black;
            justify-content: space-around;
            margin: 20px;
            text-decoration: none;
            color: white;
            font-size: 24px;
            font-weight: 300;
            border-radius: 5px;
             

            &:hover{
                background-color: rgb(230, 64, 230) ;
                transition: transform .75s ease-out;
                cursor: pointer;
            }
            
            
        }

                    // .item-container{
            //     display: flex;
            //     align-items: center;
            //     margin-left: 30px;

            //     .icon {
            //         font-size: 18px;
            //         margin-right: 5px;

            //         span {
            //             font-size: 25px;
            //             font-weight: 500;
            //         }
            //     }
            // }

    }
}
