// Main App Styling - START
.app {
       height: 100vh;

    .areas {
        width: 100%;
        height: calc(100vh - 90px);
        position: relative;
        top: 90px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;  // only applicable to Firefox web browser
        &::-webkit-scrollbar {
            display: none;
        } // for all other browswers

        > * {
            width: 100vw;
            height: calc(100vh - 90px);           
            scroll-snap-align: start; 
        }
    }
}
// Main App Styling - END