@import "./universal.scss";

.techstack {
    display: flex;
    align-items: center;
    flex-direction: column;


    .techstack-title {
        overflow: hidden;
        text-align: center;
        padding: 6px;

        h1 {
            font-family: 'Andika New Basic', sans-serif;
            color:  rgba(52, 221, 0, 0.87);
            font-size: 6vh;
            font-weight: 900;
        }

        @include mobile {
            margin-top: 15px;
        }
    }
    
        p {
        font-family: 'Andika New Basic', sans-serif;
        padding: 30px;
        overflow: hidden;
        text-align: center;
        
            @include mobile {
                text-align: center;
            }
        }

    .techstack-container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    }

    .techstackitems {
        flex: 10%;
        flex-wrap: wrap;
        text-align: center;
        padding: 6%;

        
        @include mobile {
            width: 95%;
        }
    }


    
    a {
        overflow: hidden;
    }

    img{
        width: 120px;
        padding: 30px;

        @include mobile {
            width: 60px;
            padding: 15px;
        }

        &:hover{
           transform: scale(1.25);
           transition: transform .5s ease-out;
           // check out to alter image to ease back in nicely rather than snap back
           cursor: pointer;        
        }
        
    }


    .arrow-image-techstack {
        padding-bottom: 30px;
        animation: textBlink 4s infinite; 
        justify-content: center;
        overflow: hidden;

        @keyframes textBlink {
            100%{
            opacity: 0;
            }
        }
    }
}